# man sollte hier am besten die apis usw. hier einfügen
# hier kommt vlt der server von den kis rein


NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
API_KEY= dummy
Base_URL= ... # Ki Endpoint von Gumbel
